// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
@main-color: steelblue; 
@second-color: azure;
@light-color: lightcyan;
@body-font: 'Montserrat', sans-serif;
@heading-font: 'Fjalla One', sans-serif;
.standard-size {
	font-size: 1.3rem;
}
.header-size {
	font-size: 1.9rem;
}


* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
	display: flex;
	justify-content: space-evenly;
	background-color:@light-color;

		h1 {
		.header-size();
		color: @main-color;
		padding: 10% 3% 10% 8%;
		font-size: 1.9rem;
		margin-right: 5%;	
		font-family:@heading-font;
		}
		nav {
			
		padding: 16% 4% 0 0;
			a {
			color: @main-color;
			text-decoration: none;	
			font-family:@body-font;
			margin-left: 120px;
			font-size: 1.3rem;
			  }
	
			}		
		}

	
.aboutme {
	display:flex;
	color: @light-color;
	.spacer {
		width:32%;
		background-color: @second-color;
	}
	.aboutmetext {
		.standard-size();
		padding: 7% 10% 7% 6%;
		background-color:@main-color;
		width: 68%;
		h1 {

			font-family:@heading-font;
			.header-size();
			padding-bottom: 4%
		}
		p {
		font-family: @body-font;
		line-height: 150%;
		}
	}
}





.skills {
	color: @main-color;
	display: flex;
	justify-content: space-between;
	background-color:@light-color;
	@media( max-width: 500px ) {
		flex-direction: column;
	}
h1 {
	font-family:@heading-font;
	padding: 10% 10% 10% 6%;
	.header-size();
	@media( max-width: 500px ) {
		padding-bottom: 1%;
	}
}

.sklist {
	font-family: @body-font;
	width: 68%;
	padding: 7% 10% 7% 6%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
	.standard-size();
	@media( max-width: 500px ) {
		flex-direction: column;
	}
	.skilltext {
		display: flex;
		padding-right: 10%;
	}

	
   }

	.spacer {
		padding: 7% 10% 7% 6%;
		width:32%;
		background-color: @second-color;
		@media( max-width: 500px ) {
			padding: 0;
			width: 0;
		}
	}
}

.work {
	color: @light-color;
	padding: 5%;
	display: flex;
	justify-content: space-between;
	background-color:@main-color;
	@media( max-width: 500px ) {
		flex-direction: column;
	}
 h1 {
	font-family:@heading-font;
	padding: 4% 9% 3% 0;
	.header-size();

 }
 .worka {
	 width: 25%;
	 padding: 2%;
	 h3{
		font-family:@heading-font;
		font-size: 1.7rem;
	 }
	 h4 {
		font-family: @body-font;
		font-size: 1.4rem;
	 }
	 h5 {
		font-family: @body-font;
		.standard-size();
	 }
	}
 } //closes work
footer {
	color: @main-color;
	display: flex;
	justify-content: space-between;
	background-color: @light-color;
	

	.spacer {
		width:34%;
		background-color: @second-color;
		
	}
	h1 {
		.header-size();
		}
	.contact {
		.standard-size();
		font-family: @body-font;
		padding: 5%;
		
	}
}
